{% load static %}
<footer>
    <img src="{% static 'images/logo.png' %}" width="60" alt="" srcset="">
    <ul>
        <li><a href="https://www.flaticon.com/free-icons/camera">Created by Freepik - Flaticon</a></li>
        <li><a href="#">Dolor sit amet</a></li>
        <li><a href="#">Consectetur</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'portafolio' %}">Portafolio</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
    </ul>
     <ul>
        <li><a href="#">Minim sint</a></li>
        <li><a href="#">Labore adipisicing</a></li>
        <li><a href="#">Culpa et culpa duis</a></li>
    </ul>
</footer>