{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block TITTLE %}
        
    {% endblock TITTLE %}
    </title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
    
    {% block ESTILOS %}
        
    {% endblock ESTILOS %}
        
</head>
<body>
    {% include './parciales/menu.html' %}
    <main>
        
        {% block CONTENIDO %}
            
        {% endblock CONTENIDO  %}
            
    </main>
   {% include './parciales/footer.html' %}
    
    {% block SCRIPTS %}
        
    {% endblock SCRIPTS %}
        
</body>
</html>